@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Home Page";
}

<ul class="gigs list-unstyled">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.Date.ToString("MMM")
                </div>
                <div class="day">
                    @gig.Date.Day
                </div>
            </div>
            <div class="details">
                <div class="artist">
                    @gig.Artist.Name
                </div>
                <div class="genre">
                    @gig.Genre.Name
                </div>
                
                <button data-gig-id="@gig.Id" class="btn btn-sm btn-default js-toggle-attendance">Going?</button>
            </div>
        </li>
    }
</ul>

@section Scripts{
    <script>
        (function() {
            $(".js-toggle-attendance")
                .click(function(e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { "GigId": button.attr('data-gig-id') })
                        .done(function() {
                            button.removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");

                        })
                        .fail(function() {
                            alert("Cannot register");
                        });
                }
           );

        })();
    </script>
}